<div class="row">
  <div class="big-hero jumbotron">
    <% if user_signed_in?  %>
      <h1 class="text-center">Welcome back, <%= ( current_user.name || current_user.email ) %></h1>
      <p class="text-center lead">
        You have sign in! Remember GTD.  No Facebook.  No shiny object ... 
      </p>
      <%= link_to "Sign Out", destroy_user_session_path , method: :delete, class: 'btn btn-large btn-danger' %>
    <% else %>
      <h1 class="text-center">Welcome, new user!</h1>
      <p class="text-center lead">
        You must sign in or sign up before you can access Bloccitoff
      </p>
      <div class="row">
        <div class="col-md-6">
          <%= link_to("Sign In", new_user_session_path , class: 'pull-right btn btn-success') %>
        </div>
        <div class="col-md-6">
          <%= link_to("Sign Up", new_user_registration_path , class: 'pull-left btn btn-info') %>
        </div>
      </div>
    <% end %>

  </div><!-- end jumbotron -->
</div><!-- end row -->
